.chat {
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.chat_header {
    display: flex;
    align-items: center;
    position: relative;
    padding: 25px;
    border-bottom: 1px solid lightgray;
    border-color: #ffffff;
}

.chat-body {
    flex: 1;
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    background-position: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

.wrapper {
    background-color: #fff;
    color: #444;
    /* Use flexbox */
    display: flex;
    justify-content: center;
}
  
.boxA, .boxB {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 0px;
    font-size: 150%;

    /* Use box-sizing so that element's outerwidth will match width property */
    box-sizing: border-box;

    /* Allow box to grow and shrink, and ensure they are all equally sized */
    flex: 1 1 auto;
}

.handler {
    width: 20px;
    padding: 0;
    cursor: ew-resize;
    flex: 0 0 auto;
}
    
.handler::before {
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    background: rgb(0, 51, 255);
    margin: 0 auto;
}